@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(#ffffff, #999999);
  height: 100vh;
  font-family: "Inria Sans", sans-serif;
}

header {
  margin: auto;
  margin-top: 35px;
  padding: 5px 20px;
  width: 1178px;
  height: 56px;
  background-color: #d9d9d9;
  border: black 1px solid;
  color: black;
  border-radius: 10px;
}

nav {
  display: flex;
  align-items: center;
  
  width: 100%;
  margin: 0;
}
header nav .logo {
  font-size: 2rem;
  width: 27.3%;
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 45%;
  margin-left: auto;
}

header nav ul li {
  border-radius: 5px;
  cursor: pointer;
}

header nav ul li:hover {
  background-color: #b3b3b3;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

header nav .menu-container .dropdown-btn {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  width: 103px;
  height: 27px;
  margin-left: 5px;
}

header nav .menu-container .dropdown-btn span.arrow{
  font-size: 1.5em;
  width: 50%;
}