body{
  margin: 0;
  padding: 0;
}

main{
  margin: auto;
  max-width: 1200px;
}

main .grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  margin-top: 10px;
  row-gap: 20px;
  column-gap: 250px;
}

main .grid .project{
  width: 475px;
  height: 315px;
}

main .grid .project img{
  width: 475px;
  height: 260px;
  margin: 0;
}

main h3, main p{
  margin: 0;
}

main button.show-btn{
  width: 200px;
  height: 58px;
  background-color: #636363;
  color: white;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 30px;
  margin: auto;
  margin-top: 20px;
  padding: 0;
  font-size: 1.5em;
}